.container {
  background-color: #0581c0;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  position: absolute;
  min-width: 100%;
}

.container h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.container h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
