.container {
  background-color: #4ecdde;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  position: absolute;
  min-width: 100%;
}

.container h1{
  font-size: 1.5rem;
  font-weight: bolder;
}

.Nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}